<a href="https://colab.research.google.com/github/Aksharma127/Machine-Learning/blob/main/Titanic_deaths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)

In [ ]:
!kaggle datasets list -s titanic

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 4, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.11/dist-packages/kaggle/__init__.py", line 6, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.11/dist-packages/kaggle/api/kaggle_api_extended.py", line 434, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [ ]:
!kaggle datasets list -s titanic

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 4, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.11/dist-packages/kaggle/__init__.py", line 6, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.11/dist-packages/kaggle/api/kaggle_api_extended.py", line 434, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

**Reasoning**:
The previous attempts to download data from Kaggle failed due to authentication issues. Assuming the data is now available locally as `train.csv`, the next step is to load it into a pandas DataFrame and perform basic exploration as instructed.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('train.csv')

# Display the first 5 rows
print("First 5 rows of the DataFrame:")
display(df.head())

# Display the data types of each column
print("\nData types of each column:")
display(df.dtypes)

# Display a concise summary of the DataFrame
print("\nSummary of the DataFrame:")
display(df.info())

First 5 rows of the DataFrame:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Data types of each column:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

In [ ]:
try:
    df = pd.read_csv('train.csv')
    print("DataFrame loaded successfully.")
    # Proceed with data cleaning and preparation
    # 1. Address missing values
    print("\nMissing values before handling:")
    display(df.isnull().sum())

    # Impute missing 'Age' values with the median
    df['Age'].fillna(df['Age'].median(), inplace=True)

    # Impute missing 'Embarked' values with the mode
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

    # Drop the 'Cabin' column due to a large number of missing values
    df.drop('Cabin', axis=1, inplace=True)

    print("\nMissing values after handling:")
    display(df.isnull().sum())

    # 2. Identify and encode categorical features
    print("\nData types before encoding:")
    display(df.dtypes)

    # Identify categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    print(f"\nCategorical columns: {list(categorical_cols)}")

    # Apply one-hot encoding to categorical columns
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

    print("\nData types after encoding:")
    display(df.dtypes)
    print("\nDataFrame after encoding:")
    display(df.head())

    # 3. Separate features and target variable
    # Assuming 'Survived' is the target variable
    if 'Survived' in df.columns:
        X = df.drop('Survived', axis=1)
        y = df['Survived']
        print("\nFeatures (X) and Target (y) separated.")
        display(X.head())
        display(y.head())

        # 4. Split data into training and testing sets
        from sklearn.model_selection import train_test_split

        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        print(f"\nData split into training and testing sets:")
        print(f"X_train shape: {X_train.shape}")
        print(f"X_test shape: {X_test.shape}")
        print(f"y_train shape: {y_train.shape}")
        print(f"y_test shape: {y_test.shape}")
    else:
        print("\nTarget variable 'Survived' not found in the DataFrame.")
        # If the target is not found, the subtask cannot be completed.
        raise ValueError("Target variable 'Survived' not found.")


except FileNotFoundError:
    print("Error: 'train.csv' not found. Cannot proceed with data cleaning and preparation.")
    # The data is not available, the subtask fails.
except Exception as e:
    print(f"An error occurred: {e}")
    # Handle other potential errors

DataFrame loaded successfully.

Missing values before handling:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:

<ipython-input-8-5e76d5937ffc>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-8-5e76d5937ffc>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Data types before encoding:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

Categorical columns: ['Name', 'Sex', 'Ticket', 'Embarked']

Data types after encoding:

PassengerId             int64
Survived                int64
Pclass                  int64
Age                   float64
SibSp                   int64
                       ...
Ticket_W.E.P. 5734       bool
Ticket_W/C 14208         bool
Ticket_WE/P 5735         bool
Embarked_Q               bool
Embarked_S               bool
Length: 1580, dtype: object

DataFrame after encoding:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,3,35.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True

Features (X) and Target (y) separated.

,PassengerId,Pclass,Age,SibSp,Parch,Fare,"Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel","Name_Abelson, Mrs. Samuel (Hannah Wizosky)",...,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735,Embarked_Q,Embarked_S
0,1,3,22.0,1,0,7.2500,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,38.0,1,0,71.2833,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,3,26.0,0,0,7.9250,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,35.0,1,0,53.1000,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,3,35.0,0,0,8.0500,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Data split into training and testing sets:
X_train shape: (712, 1579)
X_test shape: (179, 1579)
y_train shape: (712,)
y_test shape: (179,)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

try:
    # Attempt to load the dataset
    df = pd.read_csv('train.csv')
    print("DataFrame loaded successfully.")

    # --- Preprocessing Steps (from the failed preprocessing subtask) ---

    # 1. Address missing values
    print("\nMissing values before handling:")
    display(df.isnull().sum())

    # Impute missing 'Age' values with the median
    df['Age'].fillna(df['Age'].median(), inplace=True)

    # Impute missing 'Embarked' values with the mode
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

    # Drop the 'Cabin' column due to a large number of missing values
    df.drop('Cabin', axis=1, inplace=True)

    print("\nMissing values after handling:")
    display(df.isnull().sum())

    # 2. Identify and encode categorical features
    print("\nData types before encoding:")
    display(df.dtypes)

    # Identify categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    print(f"\nCategorical columns: {list(categorical_cols)}")

    # Apply one-hot encoding to categorical columns
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

    print("\nData types after encoding:")
    display(df.dtypes)
    print("\nDataFrame after encoding:")
    display(df.head())

    # 3. Separate features and target variable
    # Assuming 'Survived' is the target variable
    if 'Survived' in df.columns:
        X = df.drop('Survived', axis=1)
        y = df['Survived']
        print("\nFeatures (X) and Target (y) separated.")
        # display(X.head()) # Keeping output minimal to avoid clutter
        # display(y.head()) # Keeping output minimal to avoid clutter

        # 4. Split data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        print(f"\nData split into training and testing sets:")
        print(f"X_train shape: {X_train.shape}")
        print(f"X_test shape: {X_test.shape}")
        print(f"y_train shape: {y_train.shape}")
        print(f"y_test shape: {y_test.shape}")

        # --- Current Subtask: Select and Train Models ---

        # 1. Import two different machine learning model classes (already done above)
        # 2. Instantiate both models with default parameters
        model1 = LogisticRegression()
        model2 = RandomForestClassifier()
        print("\nInitialized Logistic Regression and Random Forest Classifier models.")

        # 3. Train the first model
        print("\nTraining Logistic Regression model...")
        model1.fit(X_train, y_train)
        print("Logistic Regression model trained.")

        # 4. Train the second model
        print("\nTraining Random Forest Classifier model...")
        model2.fit(X_train, y_train)
        print("Random Forest Classifier model trained.")

    else:
        print("\nTarget variable 'Survived' not found in the DataFrame. Cannot proceed with model training.")
        # If the target is not found, the subtask cannot be completed.
        raise ValueError("Target variable 'Survived' not found.")


except FileNotFoundError:
    print("\nError: 'train.csv' not found. Cannot proceed with data loading, preprocessing, or model training.")
    # The data is not available, the subtask fails.
except Exception as e:
    print(f"\nAn error occurred: {e}")
    # Handle other potential errors

DataFrame loaded successfully.

Missing values before handling:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:

<ipython-input-9-885d9b92ddad>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-9-885d9b92ddad>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Data types before encoding:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

Categorical columns: ['Name', 'Sex', 'Ticket', 'Embarked']

Data types after encoding:

PassengerId             int64
Survived                int64
Pclass                  int64
Age                   float64
SibSp                   int64
                       ...
Ticket_W.E.P. 5734       bool
Ticket_W/C 14208         bool
Ticket_WE/P 5735         bool
Embarked_Q               bool
Embarked_S               bool
Length: 1580, dtype: object

DataFrame after encoding:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,3,35.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True

Features (X) and Target (y) separated.

Data split into training and testing sets:
X_train shape: (712, 1579)
X_test shape: (179, 1579)
y_train shape: (712,)
y_test shape: (179,)

Initialized Logistic Regression and Random Forest Classifier models.

Training Logistic Regression model...

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression model trained.

Training Random Forest Classifier model...
Random Forest Classifier model trained.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

try:
    # Attempt to load the dataset
    df = pd.read_csv('train.csv')
    print("DataFrame loaded successfully.")

    # --- Preprocessing Steps ---

    # 1. Address missing values
    print("\nMissing values before handling:")
    display(df.isnull().sum())

    # Impute missing 'Age' values with the median
    df['Age'].fillna(df['Age'].median(), inplace=True)

    # Impute missing 'Embarked' values with the mode
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

    # Drop the 'Cabin' column due to a large number of missing values
    df.drop('Cabin', axis=1, inplace=True)

    print("\nMissing values after handling:")
    display(df.isnull().sum())

    # 2. Identify and encode categorical features
    print("\nData types before encoding:")
    display(df.dtypes)

    # Identify categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    print(f"\nCategorical columns: {list(categorical_cols)}")

    # Apply one-hot encoding to categorical columns
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

    print("\nData types after encoding:")
    display(df.dtypes)
    print("\nDataFrame after encoding:")
    display(df.head())

    # 3. Separate features and target variable
    # Assuming 'Survived' is the target variable
    if 'Survived' in df.columns:
        X = df.drop('Survived', axis=1)
        y = df['Survived']
        print("\nFeatures (X) and Target (y) separated.")

        # 4. Split data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        print(f"\nData split into training and testing sets:")
        print(f"X_train shape: {X_train.shape}")
        print(f"X_test shape: {X_test.shape}")
        print(f"y_train shape: {y_train.shape}")
        print(f"y_test shape: {y_test.shape}")

        # --- Train Models ---

        # Instantiate both models
        model1 = LogisticRegression(max_iter=1000) # Increased max_iter for convergence
        model2 = RandomForestClassifier(random_state=42)
        print("\nInitialized Logistic Regression and Random Forest Classifier models.")

        # Train the first model
        print("\nTraining Logistic Regression model...")
        model1.fit(X_train, y_train)
        print("Logistic Regression model trained.")

        # Train the second model
        print("\nTraining Random Forest Classifier model...")
        model2.fit(X_train, y_train)
        print("Random Forest Classifier model trained.")

        # --- Evaluate Models ---

        # Evaluate Model 1 (Logistic Regression)
        y_pred1 = model1.predict(X_test)
        accuracy1 = accuracy_score(y_test, y_pred1)
        precision1 = precision_score(y_test, y_pred1)
        recall1 = recall_score(y_test, y_pred1)
        f1_1 = f1_score(y_test, y_pred1)

        print("\n--- Model 1 (Logistic Regression) Evaluation ---")
        print(f"Accuracy: {accuracy1:.4f}")
        print(f"Precision: {precision1:.4f}")
        print(f"Recall: {recall1:.4f}")
        print(f"F1-Score: {f1_1:.4f}")

        # Evaluate Model 2 (Random Forest Classifier)
        y_pred2 = model2.predict(X_test)
        accuracy2 = accuracy_score(y_test, y_pred2)
        precision2 = precision_score(y_test, y_pred2)
        recall2 = recall_score(y_test, y_pred2)
        f1_2 = f1_score(y_test, y_pred2)

        print("\n--- Model 2 (Random Forest Classifier) Evaluation ---")
        print(f"Accuracy: {accuracy2:.4f}")
        print(f"Precision: {precision2:.4f}")
        print(f"Recall: {recall2:.4f}")
        print(f"F1-Score: {f1_2:.4f}")

    else:
        print("\nTarget variable 'Survived' not found in the DataFrame. Cannot proceed with model training or evaluation.")
        raise ValueError("Target variable 'Survived' not found.")

except FileNotFoundError:
    print("\nError: 'train.csv' not found. Cannot proceed with data loading, preprocessing, model training, or evaluation.")
except Exception as e:
    print(f"\nAn error occurred: {e}")

DataFrame loaded successfully.

Missing values before handling:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:

<ipython-input-10-5750cb8b1840>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-10-5750cb8b1840>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Data types before encoding:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

Categorical columns: ['Name', 'Sex', 'Ticket', 'Embarked']

Data types after encoding:

PassengerId             int64
Survived                int64
Pclass                  int64
Age                   float64
SibSp                   int64
                       ...
Ticket_W.E.P. 5734       bool
Ticket_W/C 14208         bool
Ticket_WE/P 5735         bool
Embarked_Q               bool
Embarked_S               bool
Length: 1580, dtype: object

DataFrame after encoding:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,3,35.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True

Features (X) and Target (y) separated.

Data split into training and testing sets:
X_train shape: (712, 1579)
X_test shape: (179, 1579)
y_train shape: (712,)
y_test shape: (179,)

Initialized Logistic Regression and Random Forest Classifier models.

Training Logistic Regression model...

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression model trained.

Training Random Forest Classifier model...
Random Forest Classifier model trained.

--- Model 1 (Logistic Regression) Evaluation ---
Accuracy: 0.8212
Precision: 0.8088
Recall: 0.7432
F1-Score: 0.7746

--- Model 2 (Random Forest Classifier) Evaluation ---
Accuracy: 0.8156
Precision: 0.8727
Recall: 0.6486
F1-Score: 0.7442

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

try:
    # Attempt to load the dataset
    df = pd.read_csv('train.csv')
    print("DataFrame loaded successfully.")

    # --- Preprocessing Steps ---

    # 1. Address missing values
    print("\nMissing values before handling:")
    display(df.isnull().sum())

    # Impute missing 'Age' values with the median
    df['Age'].fillna(df['Age'].median(), inplace=True)

    # Impute missing 'Embarked' values with the mode
    df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

    # Drop the 'Cabin' column due to a large number of missing values
    df.drop('Cabin', axis=1, inplace=True)

    print("\nMissing values after handling:")
    display(df.isnull().sum())

    # 2. Identify and encode categorical features
    print("\nData types before encoding:")
    display(df.dtypes)

    # Identify categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    print(f"\nCategorical columns: {list(categorical_cols)}")

    # Apply one-hot encoding to categorical columns
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

    print("\nData types after encoding:")
    display(df.dtypes)
    print("\nDataFrame after encoding:")
    display(df.head())

    # 3. Separate features and target variable
    # Assuming 'Survived' is the target variable
    if 'Survived' in df.columns:
        X = df.drop('Survived', axis=1)
        y = df['Survived']
        print("\nFeatures (X) and Target (y) separated.")

        # 4. Split data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        print(f"\nData split into training and testing sets:")
        print(f"X_train shape: {X_train.shape}")
        print(f"X_test shape: {X_test.shape}")
        print(f"y_train shape: {y_train.shape}")
        print(f"y_test shape: {y_test.shape}")

        # --- Train Models ---

        # Instantiate both models
        model1 = LogisticRegression(max_iter=1000) # Increased max_iter for convergence
        model2 = RandomForestClassifier(random_state=42)
        print("\nInitialized Logistic Regression and Random Forest Classifier models.")

        # Train the first model
        print("\nTraining Logistic Regression model...")
        model1.fit(X_train, y_train)
        print("Logistic Regression model trained.")

        # Train the second model
        print("\nTraining Random Forest Classifier model...")
        model2.fit(X_train, y_train)
        print("Random Forest Classifier model trained.")

        # --- Evaluate Models ---

        # Evaluate Model 1 (Logistic Regression)
        y_pred1 = model1.predict(X_test)
        accuracy1 = accuracy_score(y_test, y_pred1)
        precision1 = precision_score(y_test, y_pred1)
        recall1 = recall_score(y_test, y_pred1)
        f1_1 = f1_score(y_test, y_pred1)

        print("\n--- Model 1 (Logistic Regression) Evaluation ---")
        print(f"Accuracy: {accuracy1:.4f}")
        print(f"Precision: {precision1:.4f}")
        print(f"Recall: {recall1:.4f}")
        print(f"F1-Score: {f1_1:.4f}")

        # Evaluate Model 2 (Random Forest Classifier)
        y_pred2 = model2.predict(X_test)
        accuracy2 = accuracy_score(y_test, y_pred2)
        precision2 = precision_score(y_test, y_pred2)
        recall2 = recall_score(y_test, y_pred2)
        f1_2 = f1_score(y_test, y_pred2)

        print("\n--- Model 2 (Random Forest Classifier) Evaluation ---")
        print(f"Accuracy: {accuracy2:.4f}")
        print(f"Precision: {precision2:.4f}")
        print(f"Recall: {recall2:.4f}")
        print(f"F1-Score: {f1_2:.4f}")

        # Store metrics for comparison
        metrics = {
            'Logistic Regression': {'Accuracy': accuracy1, 'Precision': precision1, 'Recall': recall1, 'F1-Score': f1_1},
            'Random Forest': {'Accuracy': accuracy2, 'Precision': precision2, 'Recall': recall2, 'F1-Score': f1_2}
        }
        print("\nMetrics stored for comparison.")
        # display(metrics) # Optional: display the metrics dictionary

    else:
        print("\nTarget variable 'Survived' not found in the DataFrame. Cannot proceed with model training or evaluation.")
        raise ValueError("Target variable 'Survived' not found.")

except FileNotFoundError:
    print("\nError: 'train.csv' not found. Cannot proceed with data loading, preprocessing, model training, or evaluation.")
except Exception as e:
    print(f"\nAn error occurred: {e}")

DataFrame loaded successfully.

Missing values before handling:

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:

<ipython-input-11-cc092ca96db3>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-11-cc092ca96db3>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Data types before encoding:

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

Categorical columns: ['Name', 'Sex', 'Ticket', 'Embarked']

Data types after encoding:

PassengerId             int64
Survived                int64
Pclass                  int64
Age                   float64
SibSp                   int64
                       ...
Ticket_W.E.P. 5734       bool
Ticket_W/C 14208         bool
Ticket_WE/P 5735         bool
Embarked_Q               bool
Embarked_S               bool
Length: 1580, dtype: object

DataFrame after encoding:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)","Name_Abelson, Mr. Samuel",...,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,5,0,3,35.0,0,0,8.0500,False,False,False,...,False,False,False,False,False,False,False,False,False,True

Features (X) and Target (y) separated.

Data split into training and testing sets:
X_train shape: (712, 1579)
X_test shape: (179, 1579)
y_train shape: (712,)
y_test shape: (179,)

Initialized Logistic Regression and Random Forest Classifier models.

Training Logistic Regression model...